<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Электронная запись к врачу</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-default">
    <div class="container-fluid" th:with="vkUser = ${#httpServletRequest.session.getAttribute('vkUser')}">
        <div class="navbar-header">
            <span class="navbar-brand">Электронная запись к врачу</span>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/speciality">Запись на прием</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_VK')"><a href="/statistic">Статистика за год</a></li>
            </ul>

            <div sec:authorize="hasRole('ROLE_VK')" th:object="${vkUser}">
                <form class="navbar-text navbar-right" action="http://localhost:8000/vkontakte/logout">
                    <button class="btn btn-xs" type="submit">Выйти</button>
                </form>
                <span class="navbar-text navbar-right"><img src="/pic/logo.png" width="20px" height="20px"></img></span>
                <span class="navbar-text navbar-right" th:text="*{firstName} + ' ' + *{lastName}"></span>
            </div>

            <a type="button" class="navbar-text navbar-right btn btn-default btn-xs"
               sec:authorize="isAnonymous()" th:if="${vkUser} == null" th:href="@{/login}">Авторизация</a>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="navbar-text navbar-right btn btn-default btn-xs" type="button" th:href="@{/logout}">Выйти</a>
                <span class="navbar-text navbar-right">Вы вошли как Администратор</span>
            </div>
        </div>
    </div>
</nav>


<ul th:fragment="panel" class="nav nav-pills">
    <li role="presentation" th:classappend="${execInfo.getTemplateName() == 'speciality'} ? active : non"
        th:style="'pointer-events: none;'">
        <a href="#">Выбор специальности</a>
    </li>
    <li role="presentation" th:classappend="${execInfo.getTemplateName() == 'polyclinic'} ? active : non"
        th:style="'pointer-events: none;'">
        <a href="#">Выбор поликлиники</a>
    </li>
    <li role="presentation" th:classappend="${execInfo.getTemplateName() == 'doctor'} ? active : non"
        th:style="'pointer-events: none;'">
        <a href="#">Выбор специалиста</a>
    </li>
    <li role="presentation" th:classappend="${execInfo.getTemplateName() == 'booking'} ? active : non"
        th:style="'pointer-events: none;'">
        <a href="#">Время приема</a>
    </li>
    <li role="presentation" th:classappend="${execInfo.getTemplateName() == 'patient'} ? active : non"
        th:style="'pointer-events: none;'">
        <a href="#">Подтверждение записи</a>
    </li>
    <li role="presentation" th:classappend="${execInfo.getTemplateName() == 'ticket'} ? active : non"
        th:style="'pointer-events: none;'">
        <a href="#">Талон</a>
    </li>

</ul>

<div id="resultsBlock" th:fragment="resultsList">
    <form th:if="${error} == true" class="form" th:object="${email}" method="post" action="">
        <span>Отправить талон на E-mail</span><br></br>
        <input type="email" name="email" id="email" placeholder="E-mail" required="required"/>
        <input class="btn btn-default" id="sendEmail" type="button" onclick="send()" value="Отправить"/>
        <span style="color: red">Сообщение не отправлено, повторите попытку позже</span>
        <img src="/pic/load.gif" id="img" style="display:none" width="30px" height="30px"/>
        <input type="hidden" name="id" id="id" th:value="${id}"/>
    </form>
    <span th:if="${error} == false" style="color: #3c763d">Сообщение успешно отправлено</span>
</div>

<div th:fragment="statisticBlock">
    <table class="table table-striped">
        <tr>
            <th></th>
            <th class="text-center" th:each="m : ${months}"><span th:text="${m}"></span></th>
        </tr>
        <tr th:each="s : ${allSpeciality}">
            <th th:text="${s.name}"></th>
            <td class="text-center" th:each="m,num : ${months}">
                <span th:text="${#maps.containsKey(map, s.id + '_' + num.count) ? map.get(s.id + '_' + num.count) : 0}"></span>
            </td>
        </tr>
    </table>
</div>

</body>
</html>