<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: header">
</head>
<body>
<nav th:replace="fragments/fragments :: navbar"></nav>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul th:replace="fragments/fragments :: panel"></ul>
        </div>

        <div class="panel-body">
            <form th:object="${bookingRequestModel}" method="post" th:action="@{booking/patient}">
                <input type="hidden" name="doctorId" th:value="${docId}"/>
                <input type="hidden" name="date" th:field="*{date}" th:value="${date}"/>
                <table>
                    <tr>
                        <h4 class="text-primary" th:text="'Доступно номерков на ' + ${#dates.format(date, 'dd.MM.yyyy')} +
                            ' доктора ' + ${doc.firstName} + ' ' + ${doc.lastName}"></h4>
                        <td th:each="iter : ${interval}" th:style="'padding-right: 10px;'">
                            <label class="btn" th:for="${iter.id}" th:text="${iter.timeInterval}"
                                   th:style="${iter.id} == -1
                                   ? 'pointer-events: none; background-color: #ff8080;':'background-color: #80ff80'"></label>
                            <input class="btn btn-default" type="submit" name="timeIntervalId"
                                   style="display: none"
                                   th:id="${iter.id}" th:value="${iter.id}"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="panel-footer">
            <button class="btn btn-default" onclick="goBack()">Назад</button>
        </div>
    </div>
</div>
</body>
</html>