<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: header">
</head>
<body>
<nav th:replace="fragments/fragments :: navbar"></nav>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul th:replace="fragments/fragments :: panel"></ul>
        </div>

        <div class="panel-body">
            <form id="form" th:object="${doctorRequestModel}" method="get" th:action="@{/booking}">
                <div class="radio">
                    <p th:each="doc:${doctor}">
                        <label>
                            <input name="doctorId" type="radio" th:value="${doc.id}" required="required"
                                   th:text="${doc.firstName + ' ' + doc.lastName + '. Опыт работы: ' + doc.experience + ' лет.'}"/>
                        </label>
                    </p>
                </div>
                <input type="hidden" name="date" value="2017-08-25"/>
            </form>
        </div>

        <div class="panel-footer">
            <button class="btn btn-default" onclick="goBack()">Назад</button>
            <button class="btn btn-info" type="submit" form="form">Далее</button>
        </div>
    </div>
</div>
</body>
</html>