<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: header">
</head>
<body>
<nav th:replace="fragments/fragments :: navbar"></nav>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul th:replace="fragments/fragments :: panel"></ul>
        </div>

        <div class="panel-body">
            <form id="form" class="form" th:object="${polyclinicRequestModel}" th:action="@{/doctor}">
                <div class="radio">
                    <p th:each="pol:${polyclinic}">
                        <label>
                            <input type="radio" name="polyclinicId" th:value="${pol.id}"
                                   th:text="${pol.name} + ' ' + 'телефон' + ' ' + ${pol.phone}" required="required"/>
                        </label>
                    </p>
                </div>
                <input type="hidden" name="specialityId" th:value="${specId}"/>
            </form>
        </div>

        <div class="panel-footer">
            <button class="btn btn-default" onclick="goBack()">Назад</button>
            <button class="btn btn-info" type="submit" form="form">Далее</button>
        </div>
    </div>
</div>

</body>
</html>