<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: header">
</head>
<body>
<nav th:replace="fragments/fragments :: navbar"></nav>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul th:replace="fragments/fragments :: panel"></ul>
        </div>

        <div class="panel-body">
            <span th:if="${error}" style="color: #985f0d">Возникла ошибка на сервере, повторите попытку позже</span>
            <form id="form" method="get" th:object="${specialityRequestModel}" th:action="@{/polyclinic}">
                <div class="radio">
                    <p th:each="spec:${speciality}">
                        <label>
                            <input th:field="*{specialityId}" name="specialityId" th:value="${spec.id}"
                                   type="radio" th:text="${spec.name}" required="required"/>
                        </label>
                    </p>
                </div>
            </form>
        </div>

        <div class="panel-footer">
            <button class="btn btn-info" type="submit" form="form">Далее</button>
        </div>
    </div>
</div>
</body>
</html>