<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: header">
</head>
<nav th:replace="fragments/fragments :: navbar"></nav>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            Выберите год
            <select onchange="getStatistic()" id="year">
                <div th:each="s : ${years}">
                    <option th:value="${s}" th:text="${s}"
                            th:attr="selected=${(s == #dates.year(#dates.createToday())) ? 'selected' : null}">2017
                    </option>
                </div>
            </select>

        </div>

        <div id="statisticBlock">

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(getStatistic());

    function getStatistic() {
        var url = '/statistic';

        if ($('#year').val() !== '') {
            url = url + '/' + $('#year').val();
        }

        $("#statisticBlock").load(url);
    }
</script>

</body>
</html>