<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: header">
</head>
<body>
<nav th:replace="fragments/fragments :: navbar"></nav>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul th:replace="fragments/fragments :: panel"></ul>
        </div>

        <div class="panel-body" th:object="${doctor}">
            <h4 class="alert alert-success" th:name="message">
                Вы записаны к доктору <span th:text="*{firstName} + ' ' + *{lastName}"></span><br></br>
                На следующую дату <span th:text="${#dates.format(date, 'dd.MM.yyyy')}"></span> на время
                <span th:text="${interval.timeInterval}"></span><br></br>
            </h4>
            <a class="btn btn-default" type="button" href="#" onClick="window.print()"> Распечатать талон</a>
        </div>


        <div class="panel-footer">
            <div id="resultsBlock">
                <form class="form" th:object="${email}" method="post" action="">
                    <span>Отправить талон на E-mail</span><br></br>
                    <input type="email" name="email" id="email" placeholder="E-mail" required="required"/>
                    <input class="btn btn-default" id="sendEmail" type="button" onclick="send()" value="Отправить"/>
                    <img src="/pic/load.gif" id="img" style="display:none" width="30px" height="30px"/>
                    <input type="hidden" name="id" id="id" th:value="${id}"/>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function send() {
        var url = '/booking/patient/send';
        var id = $("#id").val();
        var email = $("#email").val();
        $("#resultsBlock").load(url,
            {
                id : id,
                email : email
            }
        )
    }
    $("#sendEmail").click(function () {
        $("#img").show();
    });
</script>

</body>
</html>