<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ticket</title>
</head>
<body>

Вы записаны к доктору <span th:text="${firstName} + ' ' + ${lastName}"></span><br></br>
На промежуток времени <span th:text="${timeInterval}"></span><br></br>
На слеедующую дату <span th:text="${#dates.format(date, 'dd.MM.yyyy')}"></span><br></br>
Пожалуйста, не опазывайте!

</body>
</html>